table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.tombol-tambah {
    display: inline-block;
    margin-bottom: 10px;
    background: #4caf50;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.tombol-tambah:hover {
    background: #45a049;
}
